body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

h1 {
    color: white;
}

nav {
    background-color: darkslategray;
    display: flex;
    justify-content: center;
}

header {
    margin-bottom: 1em;
}

nav .headerTxt {
    margin-left:40px;
}

nav .menuBtn {
    margin-left: auto;
    padding: 1em;
}

aside {
    justify-content: right;
    background-color: #b8b8b8;
}

form {
    padding: 10px;
}

#mainList {
    display: flex;
    flex-direction: column;

}

#headerItem {
    display: flex;
    background-color: gray;
    border-radius: 10px 10px 0px 0px;
    align-items: center;
}

#headerItem h2 {
    color: white;
}

#headerItem #buttons {
    display: flex;
    margin-left: auto;
}

#listContent {
    display: flex;
    flex-direction: column;
}

.listItem {
    display: flex;
    border: 1px solid grey;
    align-items: center;
    padding: 10px;
    padding-left: 30px;
}

.listItem .lineNumber {
    color: grey;
    font-size: 0.7em;
    margin: 10px;
}

